@import url('https://fonts.googleapis.com/css?family=Roboto')

@font-face
   font-family 'open_sansregular'
   src url('../fonts/OpenSans-Regular-webfont.eot'),
   src url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg')
   font-weight normal
   font-style normal
body
html
   font-family 'Roboto'
   font-family 'open_sansregular'
   margin 0
   padding 0
.wrapper
   background #f2f2f2
   display flex
   width 100%
   height 100vh
   color black
   > div
    display block
    width 100%
.container
  display block
  max-width 1024px
  margin 0 auto
.main-header
  display block
  width 100%